body {
    background-image: url(../../../images/mycelium_bg.png);
    background-color: rgb(28, 24, 32);
}

.box {
    background-image: url(floor.png);
}

#navTop{
    position: absolute;
    left: 400px;
    top: -80px;
    rotate: -10deg;
}

#navLeft{
    position: absolute;
    left: -80px;
    top: 400px;
    rotate: -110deg;
}

#navRight{
    position: absolute;
    right: 0px;
    top: 135px;
    rotate: 70deg;
}

#navBottom{
    position: absolute;
    left:700px;
    bottom: -80px;
    rotate: 180deg;
}