:root {
    --symbiont: rgb(71, 187, 196);
}

body {
    background-image: url(charnelground/charnelBackground.png);
    background-size: cover;
    background-color: rgb(28, 24, 32);
    color: white;
    text-align: center;
    font-family: Snide;
    font-size: 28px;
}

.menu {
    display: flex;
    justify-content: center;
    z-index: -2;
}

.menuBox {
    margin-top: 30px;
    width: 50%;
    height: fit-content;
    background-color: black;
    border: 2px solid white;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(62, 105, 141);
    position: relative;
}

h1 {
    font-family: sol;
    color: var(--symbiont);
    text-shadow: 0px 0px 8px var(--symbiont);
}

#enterBox {
    display: flex;
    justify-content: center;
    z-index: 1;
}

#enter {
    width: 200px;
    height: 100px;
    line-height: 100px;
}

#enter:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

a {
    color: var(--symbiont);
    text-decoration: none;
}

#web {
    width: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}