body {
    background-image: url(../../images/mycelium_bg.png);
    background-color: rgb(28, 24, 32);
}

.box {
    background-image: url(forest4.png);
    height: 680px;
}

#navTop{
    position: absolute;
    left: 600px;
    top: -80px;
    rotate: 10deg;
}

#navLeft{
    position: absolute;
    left: -20px;
    top: 400px;
    rotate: -110deg;
}

#navRight{
    position: absolute;
    right: 0px;
    top: 200px;
    rotate: 70deg;
}

#navBottom{
    position: absolute;
    left:700px;
    bottom: -30px;
    rotate: 180deg;
}